:root {
  --color-terminal :  black;
  --borde-redondo :  4 px ;
}

body{ /*todo el cuerpo, fondo de pantalla*/
    width: 100%;
    height: 100%;
    color:rgb(17, 20, 20);
    background: linear-gradient(to top, rgb(226, 56, 107) 10%, rgb(24, 210, 216) 90%);
    background-repeat: no-repeat; /*para que no se repita el fondo*/
}
  .conteiner{ /*cuadro blanco de la primera pagina*/
    display:block;
    margin:auto;
    text-align: center;
    background-color: #fdfbf7ee;
    background-position: center;
    width: 1000px;
    height: 800px;
  }

      .conteiner h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
      }
      .imagen2 {
        display: block;
        width: 600px;
        height: auto;
        margin: auto;

      } /*REVISAR*/
      .button-home {
         display: inline-block;
         padding: 15px 30px;
         color:#fff;
         letter-spacing: 4px; /*espacio entre letras*/
         font-size: 24px ;
         text-decoration: none;
         overflow: hidden;
         transition: 0.2s;
      }
      .button-home:hover{ /*nos sirve para hacer transciciones*/
        background: #a945c7;
        box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
        transition-delay:is
      }
  .rellenar{ /*cuadro blanco de la segunda pagina*/
    display:block;
    margin:auto;
    background-color: #f4fafa;
    width: 400px;
    height: 800px;
    padding: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
      h3 {
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 18px;
        
      }